build/
*build/
cmake-build-debug/
CMakeFiles/
*.casadi
*.npy
.idea/
file_list.txt
*/exit_statuses/*
*/external_force_params/*
*.pt
lcm_logs/*
lcm-logs/*
lcm_log/*
lcm*
lcm_converted_log/*
candle/*
training_results/*
LCM-Types/cheetahlcm
LCM-Types/c_lcm_files
LCM-Types/controllerlcm
LCM-Types/interfacelcm
LCM-Types/java
LCM-Types/simulatorlcm
LCM-Types/wincontrollerlcm
LCM-Types/file_list.txt
LCM-Types/cpp/*
LCM-Types/csharp/*
LCM-Types/lcmtypes/*
LCM-Types/python/*
lcm_data/lcm_log
lcm_data/matlab_log
lcm_data/matlab_log_archive
lcm_converted_log/
LCM-Types/file_list.txt
optimization_data
sim_data
test_data
planning_data
3rd-parties/CoinIpopt/ThirdParty/Blas/*
*.m~
*.swp
*.pyc
documentation/doxygen/html
documentation/doxygen/latex
.DS_Store
tags
*.cache
.vscode/
independent/ThirdParty-HSL/*
independent/coinhsl*
config/mini_cheetah_trajectories/0*
config/mini_cheetah_trajectories/1*
config/mini_cheetah_trajectories/2*
config/mini_cheetah_trajectories/3*
config/mini_cheetah_trajectories/4*
config/mini_cheetah_trajectories/5*
config/mini_cheetah_trajectories/6*
config/mini_cheetah_trajectories/7*
config/mini_cheetah_trajectories/8*
config/mini_cheetah_trajectories/9*
cmake-build-remote-lab/*
cmake-build-default/*
machine_learning_package/python_bind/jumpTrajOpt_bind/*
simulator/unity_Visualization/Assets/default_config.json
simulator/unity_Visualization/Assets/CShap/*
simulator/unity_Visualization/Assets/CShap
.ftpconfig
.~lock.notes.odt#
notes.odt
independent/KMPC/casadi/*
independent/CasadiTrajOpt/casadi*
independent/CasadiTrajOpt/bin*
independent/CasadiTrajOpt/build*
independent/CasadiTrajOpt/artelys_lic*
independent/CasadiTrajOpt/solver.out
3rd-parties/qpSWIFT/*.o
3rd-parties/qpSWIFT/*.a
/cmake-build-default/
simulator/unity_Visualization/UserSettings/*
Systems/loco-jump/machinelearning/pybind11
Systems/loco-jump/machinelearning/lgos
data/*

